################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApiDemo/.vs/WebApiDemo
/WebApiDemo/WebApiDemo/obj
/WebApiDemo/WebApiDemo.sln
